/dts-v1/;
#include "skeleton.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
    model = "Hi3520d DVR";
    compatible = "hisi,hi3520d";
    interrupt-parent = <&gic>;

    aliases {
		serial0 = &uart0;
		serial1 = &uart1;
	};

    memory {
        device_type = "memory";
        reg = <0x80000000 0x10000000>;
    };
    
    cpus {
        #address-cells = <1>;
		#size-cells = <0>;
        cpu@0 {
            compatible = "arm,cortex-a9";
            device_type = "cpu";
			reg = <0>;
        };
    };

    pclk: pclk@0 {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
	};

    uartclk: uartclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <75000000>;
	};
    timerclk: timerclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <75000000>;
	};

    soc: soc {
        #address-cells = <1>;
		#size-cells = <1>;
        compatible = "simple-bus";

        /* child and parent address space 1:1 mapped */
        ranges;

        timer0: timer0@20000000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x20000000 0x1000>;
			interrupts = <GIC_SPI 3 0>, <GIC_SPI 3 0>;
			clocks = <&timerclk>;
			clock-names = "apb_pclk";
		};
        timer1: timer1@20010000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x20010000 0x1000>;
			interrupts = <GIC_SPI 4 0>, <GIC_SPI 4 0>;
			clocks = <&timerclk>;
			clock-names = "apb_pclk";
		};
        timer2: timer2@20130000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x20130000 0x1000>;
			interrupts = <GIC_SPI 5 0>, <GIC_SPI 5 0>;
			clocks = <&timerclk>;
			clock-names = "apb_pclk";
		};
        timer3: timer3@20140000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x20140000 0x1000>;
			interrupts = <GIC_SPI 6 0>, <GIC_SPI 6 0>;
			clocks = <&timerclk>;
			clock-names = "apb_pclk";
		};

        amba {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "arm,amba-bus";
			ranges;

            gic: interrupt-controller@20301000 {
                compatible = "arm,cortex-a9-gic";
                interrupt-controller;
                #interrupt-cells = <3>;
                #address-cells = <0>;
                /*  gic dist base, gic cpu base*/
                reg = <0x20301000 0xF00>, <0x20300100 0xF00>; //cpu
            };

            /* Make sure to subtract 32 from the actual IRQ number */
            uart0: serial@20080000 {
                compatible = "arm,pl011", "arm,primecell";
                reg = <0x20080000 0x1000>;
                clocks = <&uartclk>;
                clock-names = "apb_pclk";
                interrupts = <GIC_SPI 8 0>;
            };

            uart1: serial@20090000 {
                compatible = "arm,pl011", "arm,primecell";
                reg = <0x20090000 0x1000>;
                clocks = <&uartclk>; 
                clock-names = "apb_pclk";
                interrupts = <GIC_SPI 9 0>;
            };

            sata0: sata@10080000 {
			    compatible		= "hisi,hi3520d-ahci", "generic-ahci";
			    reg			= <0x10080000 0xFFFF>;
			    interrupts		= <GIC_SPI 20 0>;
		    };

            eth: eth@10090000 {
                compatible		= "hisilicon-eth";
			    reg			= <0x10090000 0xFFFF>;
			    interrupts		= <GIC_SPI 24 0>;
            };


            ehci@0x100b0000 {
			    compatible = "generic-ehci";
			    reg = < 0x100b0000 0xFFFF >;
			    interrupts = <GIC_SPI 21 0 >;
		    };

            ohci@0x100a0000 {
                compatible = "generic-ohci";
			    reg = < 0x100a0000 0xFFFF >;
			    interrupts = < GIC_SPI 22 0 >;
		    };
        };
    };
   
};
